main .about1 .bosh {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
main .about1 .bosh img {
  width: 7px;
}
main .about1 .bosh .glav {
  text-decoration: none;
  color: black;
}
main .about1 .bosh a {
  text-decoration: none;
  color: gray;
}
main .about1 .fas {
  background-image: url(../images/Group\ 7105\(1\).png);
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
main .about1 .fas .tx {
  width: 70%;
}
main .about1 .fas .tx h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  color: #414141;
}
main .about1 .fas .tx p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FF6633;
}
main .about1 .fas img {
  width: 100%;
}
main .about1 .checkla-fl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
  margin-top: 100px;
}
main .about1 .checkla-fl .f {
  display: flex;
  gap: 5px;
}
main .about1 .checkla-fl .f p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
main .about1 .checkla-fl .f h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}
main .about1 .fot-tepa {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  gap: 40px;
}
main .about1 .fot-tepa h2 {
  background: #E5FFDE;
  padding: 35px 50px;
  color: #70C05B;
}

@media (max-width: 920px) {
  main .about1 .fas {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  main .about1 .fas .tx {
    width: 60%;
  }
  main .about1 .fas .tx h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #414141;
  }
  main .about1 .fas .tx p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FF6633;
  }
  main .about1 .fas img {
    width: 100%;
  }
  main .about1 .checkla-fl {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-top: 100px;
  }
  main .about1 .checkla-fl .f p {
    font-size: 15px;
    line-height: 140%;
  }
  main .about1 .checkla-fl .f h2 {
    font-size: 20px;
    line-height: 140%;
  }
}
@media (max-width: 800px) {
  main .about1 .fot-tepa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 40px;
  }
  main .about1 .fot-tepa h2 {
    background: #E5FFDE;
    padding: 35px 20px;
    color: #70C05B;
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  main .about1 .fas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  main .about1 .fas .tx {
    width: 100%;
  }
  main .about1 .fas .tx h1 {
    font-size: 35px;
    line-height: 100%;
  }
  main .about1 .fas .tx p {
    font-size: 20px;
    line-height: 140%;
    color: #FF6633;
  }
  main .about1 .fas img {
    width: 100%;
  }
  main .about1 .checkla-fl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-top: 100px;
  }
  main .about1 .checkla-fl .f p {
    font-size: 15px;
    line-height: 140%;
  }
  main .about1 .checkla-fl .f h2 {
    font-size: 20px;
    line-height: 140%;
  }
}
@media (max-width: 650px) {
  main .about1 .checkla-fl {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-top: 100px;
  }
  main .about1 .checkla-fl .f p {
    font-size: 14px;
    line-height: 140%;
  }
  main .about1 .checkla-fl .f h2 {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 500px) {
  main .about1 .fot-tepa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 40px;
  }
  main .about1 .fot-tepa h2 {
    background: #E5FFDE;
    padding: 35px 10px;
    color: #70C05B;
    font-size: 18px;
    text-align: center;
  }
}/*# sourceMappingURL=about.css.map */