.sec33 .container,
.sec33 .button,
.sec33 .links,
.sec33 .link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec33 .container {
  padding: 20px;
  border-radius: 8px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  background: transparent;
}
.sec33 .button {
  border: none;
}
.sec33 .button i {
  pointer-events: none;
}
.sec33 .button:disabled {
  color: #b3b3b3;
  pointer-events: none;
}
.sec33 .button,
.sec33 .link {
  height: 45px;
  width: 45px;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}
.sec33 .links {
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.sec33 .link {
  font-weight: 500;
  text-decoration: none;
}
.sec33 .button:hover,
.sec33 .link:hover {
  color: #fff;
  background: #4070f4;
}
.sec33 .link.active {
  color: #fff;
  background: #4070f4;
}

@media (max-width: 500px) {
  .sec33 {
    display: none;
  }
}/*# sourceMappingURL=katalog2.css.map */