.sec .bosh {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
.sec .bosh img {
  width: 7px;
}
.sec .bosh .glav {
  text-decoration: none;
  color: black;
}
.sec .bosh a {
  text-decoration: none;
  color: gray;
}
.sec .uzun-f {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.sec .uzun-f .profile-box {
  height: 215px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.3s ease all;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.284);
}
.sec .uzun-f .profile-box .profile-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.5);
}
.sec .uzun-f .profile-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
  transition: 1s ease all;
}
.sec .uzun-f .profile-box:hover img {
  transform: scale(1.25);
}
.sec .uzun-f .profile-box .box-content {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 5px 20px 0px;
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);
  transition: 0.3s ease all;
}
.sec .uzun-f .profile-box:hover .box-content {
  padding-bottom: 40px;
  padding-top: 40px;
}
.sec .uzun-f .profile-box .box-content h3 {
  margin-bottom: 15px;
}
.sec .uzun-f .profile-box .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec .uzun-f .profile-box .social-links li {
  width: 15px;
  height: 15px;
  background: #efefef;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  transition: 0.3s ease all;
  transform: translateY(100px);
}
.sec .uzun-f .profile-box .social-links li:nth-child(2) {
  transition-delay: 0.15s;
}
.sec .uzun-f .profile-box .social-links li:last-child {
  transition-delay: 0.25s;
}
.sec .uzun-f .profile-box:hover .social-links li {
  transform: none;
}
.sec .uzun-f .profile-box2 {
  height: 215px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.3s ease all;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.282);
}
.sec .uzun-f .profile-box2 .profile-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.085);
}
.sec .uzun-f .profile-box2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
  transition: 1s ease all;
}
.sec .uzun-f .profile-box2:hover img {
  transform: scale(1.25);
}
.sec .uzun-f .profile-box2 .box-content {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 5px 20px 0px;
  background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #FF6633 100%);
  transition: 0.3s ease all;
}
.sec .uzun-f .profile-box2:hover .box-content {
  padding-bottom: 40px;
  padding-top: 40px;
}
.sec .uzun-f .profile-box2 .box-content h3 {
  margin-bottom: 15px;
}
.sec .uzun-f .profile-box2 .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec .uzun-f .profile-box2 .social-links li {
  width: 15px;
  height: 15px;
  background: #efefef;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  transition: 0.3s ease all;
  transform: translateY(100px);
}
.sec .uzun-f .profile-box2 .social-links li:nth-child(2) {
  transition-delay: 0.15s;
}
.sec .uzun-f .profile-box2 .social-links li:last-child {
  transition-delay: 0.25s;
}
.sec .uzun-f .profile-box2:hover .social-links li {
  transform: none;
}

@media (max-width: 850px) {
  .sec .uzun-f {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
  }
  .sec .uzun-f .a {
    display: none;
  }
}
@media (max-width: 450px) {
  .sec .uzun-f {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    gap: 30px;
  }
  .sec .uzun-f .a {
    display: none;
  }
}/*# sourceMappingURL=katolag.css.map */