// .flekk{
//     display: flex;
//     gap: 50px;
//     .card{
//         height: 400px;
//         margin: 50px;
//         box-shadow: 5px 5px 20px black ;
//         overflow: hidden;
//     }
//     img{
//         width: 100%;
//         height: 170px;
//         border-radius: 3px;
//     }
//     .intro{
//         height: 70px;
//         width: 231px;
//         padding: 6px;
//         box-sizing: border-box;
//         position: absolute;
//         bottom: 240px;
//         background: rgb(27, 27, 27, .5);
//         color: white;
//         transition: .5s;
//     }
//     h1{
//         margin: 10px;
//         font-size: 40px;
//     }
//     p{
//         font-size: 20px;
//         margin: 20px;
//         visibility: hidden;
//         opacity: 0;
//     }
//     span{
//         font-weight: bold;
//     }
//     .card:hover{
//         cursor: pointer;
//     }
//     .card:hover .intro{
//         height: 200px;
//         bottom: 240px;
//         background-color: black;
//     }
//     .card:hover p{
//         opacity: 1;
//         visibility: visible;
//     }
//     .card:hover img{
//         transform: scale(1.1) rotate(-3deg);
//     }
// }

.sec{
    // .sec-f{
    //     display: grid;
    //     grid-template-columns: repeat(3,1fr);
        
    //     .card1{
    //         position: relative;
    //         width: 100%;
    //         height: 200px;
    //         border-radius: 5px;
    //         overflow: hidden;
    //         box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    //         margin-top: 100px;
    //     }
    //     .card1 img{
    //         width: 100%;
    //         top: 0;
    //         left: 0;
    //         transition: all 0.4s ease;
    //     }
    //     .card1:hover img{
    //         transform: scale(1.1);
    //     }
    //      .card-content{
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         width: 100%;
    //         padding: 15px;
    //         background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #6fc05ba8 82.81%);
    //         transform: translateY(1000%);
    //         transition: 0.4s ease;
    //      }
    //      .card1:hover .card-content{
    //         transform: translateY(0%);
    //      }
    //      .card-content h2{
    //         color: #0090ff;
    //         font-size: 32px;
    //      }
    //      .card-content p{
    //         font-size: 16px;
    //         color: #f6f6f6;
    //         margin: 8px 0px;
    //      }
    //      .card-content .btn{
    //         text-decoration: none;
    //         display: inline-block;
    //         padding: 8px 12px;
    //         border: none;
    //         border-radius: 20px;
    //         background-color: #ff00b3;
    //         color: white;
    //         font-size: 16px;
    //         letter-spacing: 1.5px;
    //         margin-top: 10px;
    //      }
    
    //     .card{
    //         position: relative;
    //         width: 270px;
    //         height: 200px;
    //         border-radius: 5px;
    //         overflow: hidden;
    //         box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    //         margin-top: 100px;
    //     }
    //     .card img{
            
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         transition: all 0.4s ease;
    //     }
    //     .card:hover img{
    //         transform: scale(1.1);
    //     }
    //      .card-content{
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         width: 100%;
    //         padding: 15px;
    //         background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #6fc05ba8 82.81%);
    //         transform: translateY(1000%);
    //         transition: 0.4s ease;
    //      }
    //      .card:hover .card-content{
    //         transform: translateY(0%);
    //      }
    //      .card-content h2{
    //         color: #0090ff;
    //         font-size: 32px;
    //      }
    //      .card-content p{
    //         font-size: 16px;
    //         color: #f6f6f6;
    //         margin: 8px 0px;
    //      }
    //      .card-content .btn{
    //         text-decoration: none;
    //         display: inline-block;
    //         padding: 8px 12px;
    //         border: none;
    //         border-radius: 20px;
    //         background-color: #ff00b3;
    //         color: white;
    //         font-size: 16px;
    //         letter-spacing: 1.5px;
    //         margin-top: 10px;
    //      }
         
    // }
    .bosh{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        img{
            width: 7px;
        }
        .glav{
            text-decoration: none;
            color: black;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    }
    .uzun-f {
       margin: 50px 0px;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       justify-content: space-between;
       gap: 30px;
        .profile-box {
          height: 215px;
          width: 100%;
          position: relative;
          border-radius: 7px;
          overflow: hidden;
          transition: 0.3s ease all;
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.284);
          .profile-box:hover {
            transform: translateY(-10px);
            box-shadow: 0 5px 80px rgba(0, 0, 0, 0.5);
          }
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: block;
            border-radius: 4px;
            transition: 1s ease all;
          }   
          &:hover img {
            transform: scale(1.25);
          }     
          .box-content {
            color: white;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 999;
            padding: 5px 20px 0px;
            background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);
            transition: 0.3s ease all;
          }      
          &:hover .box-content {
            padding-bottom: 40px;
            padding-top: 40px;
          }     
          .box-content h3 {
            margin-bottom: 15px;
          }       
          .social-links {
            list-style: none;
            padding: 0;
            margin: 0;
          }     
          .social-links li {
            width: 15px;
            height: 15px;
            background: #efefef;
            display: inline-block;
            margin-right: 4px;
            border-radius: 50%;
            transition: 0.3s ease all;
            transform: translateY(100px);
          }
        }
        .profile-box .social-links li:nth-child(2) {
          transition-delay: 0.15s;
        }
        .profile-box .social-links li:last-child {
          transition-delay: 0.25s;
        }
        .profile-box:hover .social-links li {
          transform: none;
        }
        .profile-box2 {
            height: 215px;
            width: 100%;
            position: relative;
            border-radius: 7px;
            overflow: hidden;
            transition: 0.3s ease all;
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.282);
            .profile-box:hover {
              transform: translateY(-10px);
              box-shadow: 0 5px 80px rgba(0, 0, 0, 0.085);
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              display: block;
              border-radius: 4px;
              transition: 1s ease all;
            }   
            &:hover img {
              transform: scale(1.25);
            }     
            .box-content {
              color: white;
              position: absolute;
              width: 100%;
              bottom: 0;
              left: 0;
              z-index: 999;
              padding: 5px 20px 0px;
              background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #FF6633 100%);
              transition: 0.3s ease all;
            }      
            &:hover .box-content {
              padding-bottom: 40px;
              padding-top: 40px;
            }     
            .box-content h3 {
              margin-bottom: 15px;
            }       
            .social-links {
              list-style: none;
              padding: 0;
              margin: 0;
            }     
            .social-links li {
              width: 15px;
              height: 15px;
              background: #efefef;
              display: inline-block;
              margin-right: 4px;
              border-radius: 50%;
              transition: 0.3s ease all;
              transform: translateY(100px);
            }
          }
          .profile-box2 .social-links li:nth-child(2) {
            transition-delay: 0.15s;
          }
          .profile-box2 .social-links li:last-child {
            transition-delay: 0.25s;
          }
          .profile-box2:hover .social-links li {
            transform: none;
          }
      
      }
}

@media (max-width:850px){
    .sec{
        .uzun-f {
            margin: 50px 0px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: space-between;
            gap: 30px;
            .a{
                display: none;
            }

           }
    }
}

@media (max-width:450px){
    .sec{
        .uzun-f {
            margin: 50px 0px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: space-between;
            gap: 30px;
            .a{
                display: none;
            }
            
           }
    }
}