.sec1 .bosh {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
.sec1 .bosh img {
  width: 7px;
}
.sec1 .bosh .glav {
  text-decoration: none;
  color: black;
}
.sec1 .bosh a {
  text-decoration: none;
  color: gray;
}

.sec2 h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}
.sec2 .Yonma_kont {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}
.sec2 .Yonma_kont .uy_f {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 25px;
}
.sec2 .Yonma_kont .uy_f a {
  text-decoration: none;
  color: #414141;
  font-weight: 600;
}

.sec5 .parus-fle {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  gap: 30px;
}
.sec5 .parus-fle .ff {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.sec5 .parus-fle .ff a {
  text-decoration: none;
  color: rgb(74, 74, 74);
}

@media (max-width: 850px) {
  .sec5 .parus-fle {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    gap: 30px;
  }
}
@media (max-width: 640px) {
  .sec5 .parus-fle {
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 30px;
  }
}
@media (max-width: 510px) {
  .sec2 h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
  }
  .sec2 .Yonma_kont {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .sec2 .Yonma_kont .uy_f {
    display: flex;
    gap: 10px;
    line-height: 25px;
  }
  .sec2 .Yonma_kont .uy_f a {
    text-decoration: none;
    color: #414141;
    font-weight: 600;
  }
  .sec5 .parus-fle {
    display: grid;
    grid-template-columns: 180px;
    gap: 30px;
  }
  .sec5 .parus-fle .no {
    display: none;
  }
}/*# sourceMappingURL=kontact.css.map */