* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fbf9ec;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

#loading {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: 0.5s;
}
#loading .cool-loader {
  width: 40px;
  height: 80px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 999;
}
#loading .cool-loader__inner {
  border-radius: 50%;
  animation: loader-animation 0.8s ease-out infinite;
  background: #5cb85c;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 9;
}
#loading .cool-loader__shadow {
  width: 40px;
  bottom: 2px;
  height: 5px;
  background: #000;
  opacity: 0.3;
  position: absolute;
  left: 0;
  border-radius: 50%;
  animation: shadow-animation 0.8s ease-out infinite;
}
@keyframes loader-animation {
  0% {
    top: 0;
    transform: scale(1, 1);
  }
  35% {
    transform: scale(1, 1);
    background: #5cb85c;
  }
  50% {
    top: 40px;
    transform: scale(1.2, 0.8);
    background: #449d44;
  }
  75% {
    transform: scale(0.8, 1.2);
  }
  100% {
    top: 0;
    transform: scale(1, 1);
    background: #5cb85c;
  }
}
@keyframes shadow-animation {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    transform: scale(1, 1);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
}
#loading .link {
  text-decoration: none;
  color: #2e77ea;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background: #FFFFFF;
  padding: 13px 0px;
  z-index: 9990;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.067);
}
header .fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .fl .logo2 {
  display: none;
}
header .fl .ko .bt {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  padding: 8px 15px;
  background: #70C05B;
  cursor: pointer;
  border-radius: 5px;
}
header .fl .ko .bt a {
  text-decoration: none;
  color: white;
}
header .fl .ko .bt2 {
  display: none;
}
header .fl .ko .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
header .fl .ko .sub-menu-wrap.open-menu {
  max-height: 400px;
}
header .fl .ko .sub-menu {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
}
header .fl .ko .sub-menu .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header .fl .ko .sub-menu .grid .tx {
  display: flex;
  flex-direction: column;
  list-style: none;
}
header .fl .ko .sub-menu .grid .tx ul {
  list-style: none;
}
header .fl .ko .sub-menu .grid .tx a {
  text-decoration: none;
  color: #414141;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 300%;
}
header .fl .ko .sub-menu .grid .tx li {
  transition: 0.3s ease-out;
}
header .fl .ko .sub-menu .grid .tx li:hover {
  transform: translateX(5px);
}
header .fl .ko .sub-menu .grid .tx li:hover a {
  color: #FF6633;
}
header .fl .box {
  display: flex;
  align-items: center;
  border: 1.4px solid #70C05B;
  border-radius: 5px;
  width: 60%;
  padding: 5px 5px;
}
header .fl .box input {
  outline: none;
  padding: 5px 5px;
  border: none;
  width: 100%;
  font-size: 15px;
}
header .fl .box a {
  position: relative;
  top: 2px;
  left: -10px;
  color: #414141;
}
header .fl .icon {
  display: flex;
  align-items: baseline;
  gap: 30px;
  text-align: center;
}
header .fl .icon a {
  text-decoration: none;
  color: black;
}
header .fl .icon .a {
  width: 21px;
}
header .fl .icon .a2 {
  width: 21px;
}
header .fl .icon img {
  transition: 0.3s ease-out;
}
header .fl .icon a:hover img {
  transform: translateY(-5px);
}
header .fl .men .drop-down {
  display: inline-block;
  position: relative;
}
header .fl .men .drop-down__button {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}
header .fl .men .drop-down__name {
  color: black;
  letter-spacing: 2px;
}
header .fl .men .drop-down__icon {
  width: 18px;
  vertical-align: middle;
  margin-left: 14px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
header .fl .men .drop-down__menu-box {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
}
header .fl .men .drop-down__menu {
  margin: 0;
  padding: 0 13px;
  list-style: none;
}
header .fl .men .drop-down__menu-box:before {
  content: "";
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}
header .fl .men .drop-down__menu-box:after {
  content: "";
  background-color: transparent;
}
header .fl .men .drop-down__item {
  font-size: 14px;
  padding: 13px 0;
  text-align: left;
  font-weight: 500;
  color: #909dc2;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
}
header .fl .men .drop-down__item-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  fill: #8995b6;
}
header .fl .men .drop-down__item:hover .drop-down__item-icon {
  fill: #3d6def;
}
header .fl .men .drop-down__item:hover {
  color: #3d6def;
}
header .fl .men .drop-down__item:last-of-type {
  border-bottom: 0;
}
header .fl .men .drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 24px;
}
header .fl .men .drop-down__item:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #3d6def;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
header .fl .men .drop-down__item:hover:before {
  display: block;
}
header .fl .men2 .a {
  cursor: pointer;
}
header .fl .men2 .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
header .fl .men2 .sub-menu-wrap.open-menu {
  max-height: 400px;
}
header .fl .men2 .sub-menu {
  background: white;
  padding: 20px;
  margin: 6px 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
}
header .fl .men2 .user-info {
  display: flex;
  align-items: center;
}
header .fl .men2 .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
header .fl .men2 .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
header .fl .men2 .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #535353;
  margin: 14px 0;
}
header .fl .men2 .sub-menu-link p {
  width: 100%;
}
header .fl .men2 .sub-menu-link img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
header .fl .men2 .sub-menu-link span {
  font-size: 15px;
  transition: transform 0.5s;
}
header .fl .men2 .sub-menu-link:hover {
  transform: translateX(5px);
  transition: 0.3s;
}

.sec1 .slider {
  width: 100%;
  overflow: hidden;
}
.sec1 figure {
  position: relative;
  left: 0;
  width: 400%; /* width dikali slide */
  animation: 10s slide infinite;
}
.sec1 .slide {
  position: relative;
  width: 25%; /* width dibagi slide */
  float: left;
}
.sec1 .slide h1 {
  position: absolute;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.sec1 .slide img {
  width: 100%;
}
@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  90% {
    left: 0;
  }
  1000% {
    left: 0;
  }
}

.sec2 {
  margin-bottom: 90px;
}
.sec2 .f_aksi {
  font-family: "Rubik";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .s_f {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.sec2 .s_f .box {
  background-color: white;
  width: 96%;
  border-radius: 9px;
  transition: 0.5s;
}
.sec2 .s_f .box .ras {
  position: relative;
}
.sec2 .s_f .box .ras .s {
  width: 100%;
}
.sec2 .s_f .box .ras .po {
  padding: 0px 10px;
  top: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.sec2 .s_f .box .ras .tx {
  display: none;
  position: absolute;
  top: 120px;
  left: 10px;
  width: 56px;
  padding: 10px 0;
  color: white;
  background: #FF6633;
  border-radius: 4px;
  text-align: center;
}
.sec2 .s_f .box .pastki {
  padding: 10px 10px;
}
.sec2 .s_f .box .pastki .fle {
  display: flex;
  justify-content: space-between;
}
.sec2 .s_f .box .pastki .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec2 .s_f .box .pastki .button {
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 7px;
  width: 100%;
  text-align: center;
  display: block;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  border: 1px solid #70C05B;
}
.sec2 .s_f .box .pastki .button div {
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec2 .s_f .box .pastki .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec2 .s_f .box .pastki .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec2 .s_f .box .pastki .button:hover {
  --y: var(--move-hover);
  background: #FF6633;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
  border: 1px solid #FF6633;
}
.sec2 .s_f .box .pastki .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec2 .s_f .box:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.sec44 .sec4 #owl-carousel {
  padding: 10px 10px;
}
.sec44 .tx h1 {
  padding: 0px 10px;
}
.sec44 .sec4 .owl-carousel-1 {
  position: relative;
  padding: 0px 10px;
}
.sec44 .sec4 .owl-carousel-1 .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 9px 7px;
  border-radius: 30px;
  transition: all 0.2s ease;
  background-color: #bab9b9;
}
.sec44 .sec4 .owl-carousel-1 .owl-dots .owl-dot.active span {
  width: 50px;
  background-color: #3858d6;
}
.sec44 .sec4 .owl-carousel-1 .owl-nav {
  display: none;
}
.sec44 .sec4 .card2 {
  border: 1px solid #e6e5e5;
  background: #ffffff;
  width: 100%;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.5 ease;
  overflow: hidden;
  padding: 20px 20px;
}
.sec44 .sec4 .card2 .im {
  position: absolute;
  top: -166px;
  right: -166px;
  transition: all 0.6s ease-in-out;
}
.sec44 .sec4 .card3 {
  border: 1px solid #e6e5e5;
  background: #ffffff;
  width: 100%;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.5 ease;
  overflow: hidden;
  padding: 20px 20px;
}
.sec44 .sec4 .card3 .im {
  position: absolute;
  top: -166px;
  right: -166px;
  transition: all 0.6s ease-in-out;
}
.sec44 .sec4 .box {
  color: white;
  text-align: left;
}
.sec44 .sec4 .box img {
  width: 75%;
}
.sec44 .sec4 .box .a {
  width: 60%;
}
.sec44 .sec4 .box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #22343d;
  padding-bottom: 15px;
}
.sec44 .sec4 .box h3 {
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}
.sec44 .sec4 .card2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: #ffa667;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  transition: 0.9s ease;
}
.sec44 .sec4 .card2:hover {
  background-color: transparent;
}
.sec44 .sec4 .card2:hover::before {
  width: 100%;
}
.sec44 .sec4 .card2:hover h3 {
  color: white;
}
.sec44 .sec4 .card2:hover p {
  color: white;
}
.sec44 .sec4 .card2:hover .im {
  top: 3;
  right: 0;
}
.sec44 .sec4 .card3::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: #c1fdb1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  transition: 0.9s ease;
}
.sec44 .sec4 .card3:hover {
  background-color: transparent;
}
.sec44 .sec4 .card3:hover::before {
  width: 100%;
}
.sec44 .sec4 .flexx {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sec44 .sec4 .flexx img {
  height: 200px;
}

.sec5 .ap-tab {
  margin-top: 40px;
}
.sec5 .fle {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
}
.sec5 .fle .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec5 .fle .button {
  width: 130px;
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 7px;
  text-align: left;
  display: block;
  margin-right: 15px;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.sec5 .fle .button div {
  display: flex;
  text-align: center;
  justify-content: left;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec5 .fle .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec5 .fle .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec5 .fle .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec5 .fle .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec5 .fle .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec5 .fle .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec5 .fle .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec5 .fle .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec5 .fle .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec5 .fle .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec5 .fle .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec5 .fle .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec5 .fle .button:hover {
  --y: var(--move-hover);
  background: #70C05B;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
}
.sec5 .fle .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec5 iframe {
  width: 100%;
}

.sec6 {
  margin-top: 90px;
}
.sec6 .f_aksi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec6 .s_f {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  overflow: hidden;
}
.sec6 .s_f .box {
  overflow: hidden;
  background-color: white;
  width: 96%;
  border-radius: 9px;
  transition: 0.6s;
}
.sec6 .s_f .box .ras {
  position: relative;
}
.sec6 .s_f .box .ras .s {
  width: 100%;
  height: 150px;
}
.sec6 .s_f .box .ras .po {
  padding: 0px 10px;
  top: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.sec6 .s_f .box .ras .tx {
  display: none;
  position: absolute;
  top: 120px;
  left: 10px;
  width: 56px;
  padding: 10px 0;
  color: white;
  background: #FF6633;
  border-radius: 4px;
  text-align: center;
}
.sec6 .s_f .box .pastki {
  padding: 10px 10px;
}
.sec6 .s_f .box .pastki .fle {
  display: flex;
  justify-content: space-between;
}
.sec6 .s_f .box .pastki .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec6 .s_f .box .pastki .button {
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  background: #E5FFDE;
  width: 125px;
  line-height: var(--font-size);
  border-radius: 7px;
  text-align: center;
  display: block;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.sec6 .s_f .box .pastki .button div {
  display: flex;
  text-align: center;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec6 .s_f .box .pastki .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec6 .s_f .box .pastki .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec6 .s_f .box .pastki .button:hover {
  --y: var(--move-hover);
  background: #70C05B;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
}
.sec6 .s_f .box .pastki .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec6 .s_f .box:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -10px);
}
.sec6 .s_f .box:hover .s {
  transform: scale(1.1);
  transition: 2s;
}

.sec7 {
  margin-top: 50px;
  background-image: url(../images/bg.png);
  width: 100%;
  background-size: cover;
}
.sec7 .f {
  display: flex;
  justify-content: space-between;
}
.sec7 .f .fle {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec7 .f .fle .b {
  display: flex;
  gap: 15px;
}
.sec7 .f .fle .b a {
  text-decoration: none;
  color: black;
}
.sec7 .f .fle2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec7 .f .fle2 a {
  text-decoration: none;
  color: black;
}

nav .fll {
  display: none;
}

@media (max-width: 1190px) {
  .macl, .bosh {
    padding: 0px 15px;
  }
  .sec {
    padding: 0 15px;
  }
  .sec1 {
    padding: 0 15px;
  }
  .sec2 {
    padding: 0px 15px;
  }
  .about1 {
    padding: 0px 14px;
  }
  header {
    padding: 13px 14px;
  }
  .sec2 .f_aksi {
    padding: 0px 14px;
  }
  .sec2 .s_f {
    padding: 40px 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .sec2 .s_f .oxr-no {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 14px;
  }
  .sec6 {
    padding: 0px 14px;
  }
  .sec7 {
    padding: 0px 14px;
  }
}
@media (max-width: 990px) {
  .sec44 .sec4 .card2 .img {
    width: 50%;
  }
  .sec7 .f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    gap: 15px;
  }
  .sec7 .f .fle .b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .sec7 .f .fle .b a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 .a {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}
@media (max-width: 920px) {
  .sec2 .f_aksi {
    display: flex;
    justify-content: space-between;
  }
  .sec2 .s_f {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
}
@media (max-width: 890px) {
  header .fl {
    gap: 20px;
  }
  header .fl .ko .bt {
    display: none;
  }
  header .fl .ko .bt2 {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 8px 15px;
    background: #70C05B;
    cursor: pointer;
    border-radius: 5px;
  }
  .sec2 .f_aksi {
    display: flex;
    justify-content: space-between;
  }
  .sec2 .s_f {
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .sec2 .s_f .oxr-no2 {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 700px) {
  .sec5 .fle {
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 20px;
  }
  header .fl {
    gap: 20px;
  }
  header .fl .logo {
    display: none;
  }
  header .fl .logo2 {
    display: block;
  }
  .b .a-o {
    display: none;
  }
}
@media (max-width: 655px) {
  header .fl {
    gap: 7px;
  }
  header .fl .ko .bt2 {
    display: none;
  }
  header .fl .ko .sub-menu .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header .fl .box {
    display: flex;
    align-items: center;
    border: 1.4px solid #70C05B;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
  }
  header .fl .box input {
    outline: none;
    padding: 5px 5px;
    border: none;
    width: 100%;
    font-size: 15px;
  }
  header .fl .icon a {
    display: none;
    text-decoration: none;
    color: black;
  }
  header .fl .men2 .a {
    display: none;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .sec7 .rght {
    display: none;
  }
  .sec7 .f {
    flex-direction: column;
    text-align: center;
  }
  .sec7 .f .fle {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .sec7 .f .fle .b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
  }
  .sec7 .f .fle .b a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    gap: 1px;
  }
}
@media (max-width: 597px) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    padding: 13px 0px;
    z-index: 999;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  nav .fll {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px 14px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 14px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 14px;
  }
  nav .fll .icon .a {
    width: 21px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
  .sec2 .f_aksi {
    padding: 0px 0px;
  }
  .sec2 .s_f {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }
  .sec2 .s_f .box {
    width: 50%;
  }
  .sec44 .sec4 .card2 .img {
    width: 70%;
  }
  .sec44 .box .flexx {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sec5 {
    padding: 0px 10px;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 70%;
    margin: auto;
  }
  .sec7 {
    margin-top: 50px;
    background-image: url(../images/bg.png);
    width: 100%;
    background-size: cover;
  }
  .sec7 .f {
    display: flex;
    justify-content: space-between;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}
@media (max-width: 555px) {
  .sec2 .f_aksi {
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
  }
  .sec2 .a1 {
    font-size: 20px !important;
  }
  .sec2 .s_f {
    display: flex;
    flex-direction: column;
  }
  .sec2 .s_f .box {
    width: 80%;
  }
}
@media (max-width: 510px) {
  .sec44 .tx h1 {
    padding: 0px 10px;
    font-size: 23px !important;
    line-height: 30px !important;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    padding: 0px 25px;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 426px) {
  nav .fll {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 11px;
  }
  nav .fll .icon .a {
    width: 24px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
  .sec2 .f_aksi {
    padding: 0px 10px;
  }
  .sec2 .f_aksi h1 {
    font-size: 25px !important;
  }
  .sec2 .f_aksi .a1 {
    font-size: 16px !important;
  }
  .sec2 .s_f {
    display: flex;
    flex-direction: column;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 10px;
  }
  .sec5 .fle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    padding: 0px 6px;
  }
  .sec6 .s_f {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: auto;
  }
  .sec6 .box {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 350px) {
  .sec5 .fle {
    display: grid;
    grid-template-columns: 180px;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */