*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
body{
    background: #fbf9ec;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
#loading{
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: .5s;
    @mixin transform($transforms) {
        -moz-transform: $transforms;
        -o-transform: $transforms;
        -ms-transform: $transforms;
        -webkit-transform: $transforms;
        transform: $transforms;
      }
      
      @mixin scale($scale, $scale2) {
        @include transform(scale($scale, $scale2));
      }
      
      
      
      @mixin animation($str) {
        -webkit-animation: #{$str};
        -moz-animation: #{$str};
        -ms-animation: #{$str};
        -o-animation: #{$str};
        animation: #{$str};
      }
      
      $cool-loader-size: 40px;
      $cool-loader-color: #5cb85c;
      .cool-loader {
        width: $cool-loader-size;
        height: $cool-loader-size * 2;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        z-index: 999;
        &__inner {
          border-radius: 50%;
          @include animation(loader-animation 0.8s ease-out infinite);
          background: $cool-loader-color;
          position: absolute;
          width: $cool-loader-size;
          height: $cool-loader-size;
          z-index: 9;
        }
        &__shadow {
          width: $cool-loader-size;
          bottom: 2px;
          height: 5px;
          background: #000;
          opacity: 0.3;
          position: absolute;
          left: 0;
          border-radius: 50%;
          @include animation(shadow-animation 0.8s ease-out infinite);
        }
      }
      
      @keyframes loader-animation {
        0% {
          top: 0;
          @include scale(1, 1);
        }
        35% {
          @include scale(1, 1);
          background: $cool-loader-color;
        }
        50% {
          top: $cool-loader-size;
          @include scale(1.2, 0.8);
          background: darken($cool-loader-color, 10%);
        }
        75% {
          @include scale(0.8, 1.2);
        }
        100% {
          top: 0;
          @include scale(1, 1);
          background: $cool-loader-color;
        }
      }
      
      @keyframes shadow-animation {
        0% {
          @include scale(0.5, 0.5);
          opacity: 0.1;
        }
        50% {
          @include scale(1, 1);
          opacity: 0.2;
        }
        100% {
          @include scale(0.5, 0.5);
          opacity: 0.1;
        }
      }
      
      .link{
        text-decoration: none;
        color: #2e77ea;
      }
}
#loading.loading-none {
    opacity: 0;
    z-index: -1;
}


header{
    position: sticky;
    top: 0;
    left: 0;
    background: #FFFFFF;
    padding: 13px 0px;
    z-index: 9990;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.067);
    .fl{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        .logo2{
            display: none;
        }
        .ko{
            .bt{
                display: flex;
                align-items: center;
                gap: 15px;
                color: white;
                padding: 8px 15px;
                background: #70C05B;
                cursor: pointer;
                border-radius: 5px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .bt2{
                display: none;
            }
            .sub-menu-wrap{
                position: absolute;
                top: 100%;
                right: 0%;
                width: 100%;
                max-height: 0px;
                overflow: hidden;
                transition: max-height 0.5s;
            }
            .sub-menu-wrap.open-menu{
                max-height: 400px;
            }
            .sub-menu{
                background: white;
                padding: 20px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
                .grid{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    .tx{
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        ul{
                            list-style: none;
                        }
                        a{
                            text-decoration: none;
                            color: #414141;
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 16px;
                            line-height: 300%;
                        }
                        li{
                            transition: .3s ease-out;
                        }
                        li:hover{
                            transform: translateX(5px);
                        a{
                            color: #FF6633;
                        } 
                        }
                    }
                }
            }
            // .user-info{
            //     display: flex;
            //     align-items: center;
            // }
            // .user-info img{
            //     width: 60px;
            //     border-radius: 50%;
            //     margin-right: 15px;
            // }
            // .sub-menu hr{
            //     border: 0;
            //     height: 1px;
            //     width: 100%;
            //     background: #ccc;
            //     margin: 15px 0 10px;
            // }
            // .sub-menu-link{
            //     display: flex;
            //     align-items: center;
            //     text-decoration: none;
            //     color: #535353;
            //     margin: 14px 0;
            // }
            // .sub-menu-link p{
            //     width: 100%;
            // }
            // .sub-menu-link img{
            //     width: 40px;
            //     background-color: #e5e5e5;
            //     border-radius: 50%;
            //     padding: 8px;
            //     margin-right: 15px;
            // }
            // .sub-menu-link span{
            //     font-size: 15px;
            //     transition: transform 0.5s;
            // }
            // .sub-menu-link:hover{
            //     transform: translateX(5px);
            //     transition: .3s;
            // }

        }
        .box{
            display: flex;
            align-items: center;
            border: 1.4px solid #70C05B;
            border-radius: 5px;
            width: 60%;
            padding: 5px 5px;
            input{
                // position: absolute;
                outline: none;
                padding: 5px 5px;
                border: none;
                width: 100%;
                font-size: 15px;
            }
            a{
                position: relative;
                top: 2px;
                left: -10px;
                color: #414141;
            }
        }
        .icon{
            display: flex;
            align-items: baseline;
            gap: 30px;
            text-align: center;
            a{
                text-decoration: none;
                color: black;
            }
            .a{
                width: 21px;
            }
            .a2{
                width: 21px;
            }
            img{
                transition: .3s ease-out;
            }
            a:hover img{
                transform: translateY(-5px);
            }
        }
        .men{
        
            .drop-down{
                display: inline-block;
                position: relative;
            }
            
            .drop-down__button{
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 40px;
                padding: 0 10px;
                text-align: left;
                border-radius: 4px;
                cursor: pointer;
            }
            
            .drop-down__name {
                color: black;
                letter-spacing: 2px;
            }
            
            .drop-down__icon {
                width: 18px;
                vertical-align: middle;
                margin-left: 14px;
                height: 18px;
                border-radius: 50%;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                
            }
            
                
            .drop-down__menu-box {
                position: absolute;
                width: 100%;
                left: 0;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
                    transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                visibility: hidden;
            opacity: 0;
                margin-top: 10px;
            }
            
            .drop-down__menu {
                margin: 0;
                padding: 0 13px;
                list-style: none;
                
            }
            .drop-down__menu-box:before{
                content:'';
                background-color: transparent;
                border-right: 8px solid transparent;
                position: absolute;
                border-left: 8px solid transparent;
                border-bottom: 8px solid #fff;
                border-top: 8px solid transparent;
                top: -15px;
                right: 18px;
            
            }
            
            .drop-down__menu-box:after{
                content:'';
                background-color: transparent;
            }
            
            .drop-down__item {
                font-size: 14px;
                padding: 13px 0;
                text-align: left;
                font-weight: 500;
                color: #909dc2;
                cursor: pointer;
                position: relative;
                border-bottom: 1px solid #e0e2e9;
            }
            
            .drop-down__item-icon {
                width: 15px;
                height: 15px;
                position: absolute;
                right: 0px;
                fill: #8995b6;
                
            }
            
            .drop-down__item:hover .drop-down__item-icon{
                fill: #3d6def;
            }
            
            .drop-down__item:hover{
                color: #3d6def;
            }
            
            
            
            .drop-down__item:last-of-type{
                border-bottom: 0;
            }
                
            .drop-down--active .drop-down__menu-box{
            visibility: visible;
            opacity: 1;
                margin-top: 24px;
            }
            
            .drop-down__item:before{
                content:'';
                position: absolute;
            width: 3px;
            height: 28px;
            background-color: #3d6def;
            left: -13px;
            top: 50%;
            transform: translateY(-50%);
                display:none;
            }
            
            .drop-down__item:hover:before{
                display:block;
            }
        }
        .men2{
            .a{
                cursor: pointer;
            }
            .sub-menu-wrap{
                position: absolute;
                top: 100%;
                right: 0%;
                width: 300px;
                max-height: 0px;
                overflow: hidden;
                transition: max-height 0.5s;
            }
            .sub-menu-wrap.open-menu{
                max-height: 400px;
            }
            .sub-menu{
                background: white;
                padding: 20px;
                margin: 6px 10px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
            }
            .user-info{
                display: flex;
                align-items: center;
            }
            .user-info img{
                width: 60px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .sub-menu hr{
                border: 0;
                height: 1px;
                width: 100%;
                background: #ccc;
                margin: 15px 0 10px;
            }
            .sub-menu-link{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #535353;
                margin: 14px 0;
            }
            .sub-menu-link p{
                width: 100%;
            }
            .sub-menu-link img{
                width: 40px;
                background-color: #e5e5e5;
                border-radius: 50%;
                padding: 8px;
                margin-right: 15px;
            }
            .sub-menu-link span{
                font-size: 15px;
                transition: transform 0.5s;
            }
            .sub-menu-link:hover{
                transform: translateX(5px);
                transition: .3s;
            }
        }

    }
}

// Showcase Start
.sec1{ 
.slider{
    width: 100%;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 10s slide infinite;
}
.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    
}
@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    30%{
        left:-100%;
    }
    50%{
        left:-100%;
    }
    70%{
        left:-200%;
    }
    90%{
        left:-200%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}
}
// Showcase End

.sec2{
    margin-bottom: 90px;
    .f_aksi{
        font-family: 'Rubik';
        font-style: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s_f{
        padding: 40px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .box{
            background-color: white;
            width: 96%;
            border-radius: 9px;
            transition: .5s;
            .ras{
                position: relative;
                .s{
                    width: 100%;
                }
                .po{
                    padding: 0px 10px;
                    top: 20px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                }
                .tx{
                    display: none;
                    position: absolute;
                    top: 120px;
                    left: 10px;
                    width: 56px;
                    padding: 10px 0;
                    color: white;
                    background: #FF6633;
                    border-radius: 4px;
                    text-align: center;
                }
            }
            .pastki{
                padding: 10px 10px;
                .fle{
                    display: flex;
                    justify-content: space-between;
                }
                .button {
                    &.dark {
                        --background: #2F3545;
                        --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                        --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
                    }
                    
                }
                
                .button {
                    --background: white;
                    --text: #70C05B;
                    --font-size: 18.5px;
                    --duration: .44s;
                    --move-hover: -4px;
                    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
                    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
                    --font-shadow: var(--font-size);
                    padding: 10px 12px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    line-height: var(--font-size);
                    border-radius: 7px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    align-items: center;
                    outline: none;
                    text-decoration: none;
                    font-size: var(--font-size);
                    letter-spacing: .5px;
                    background: var(--background);
                    color: var(--text);
                    box-shadow: var(--shadow);
                    transform: translateY(var(--y)) translateZ(0);
                    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
                    border: 1px solid #70C05B;
                    div {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        overflow: hidden;
                        text-shadow: 0 var(--font-shadow) 0 var(--text);
                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            transition: transform var(--duration) ease;
                            transform: translateY(var(--m)) translateZ(0);
                            $i: 1;
                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    transition-delay: $i / 20 + s;
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                    &:hover {
                        --y: var(--move-hover);
                        background: #FF6633;
                        color: white;
                        transform: .6s;
                        --shadow: var(--shadow-hover);
                        --text: white;
                        border: 1px solid #FF6633;
                        span {
                            color: white;
                            --m: calc(var(--font-size) * -1);
                        }
                    }
                }
                
            }
        }
        .box:hover{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
            transform: translate(0px, -8px);
        }
    }
}

.sec44{
    .sec4 #owl-carousel {
        padding: 10px 10px;
      }
      .tx h1{
        padding: 0px 10px;
      }
      .sec4 .owl-carousel-1 {
        position: relative;
        padding: 0px 10px;
      }
      .sec4 .owl-carousel-1 .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 9px 7px;
        border-radius: 30px;
        transition: all 0.2s ease;
        background-color: #bab9b9;
      }
      .sec4 .owl-carousel-1 .owl-dots .owl-dot.active span {
        width: 50px;
        background-color: #3858d6;
      }
      .sec4 .owl-carousel-1 .owl-nav {
        display: none;
      }
      .sec4 .card2 {
        border: 1px solid #e6e5e5;
        background: #ffffff;
        width: 100%;
        border-radius: 6px;
        position: relative;
        cursor: pointer;
        transition: all 0.5 ease;
        overflow: hidden;
        padding: 20px 20px;
      }
      .sec4 .card2 .im {
        position: absolute;
        top: -166px;
        right: -166px;
        transition: all 0.6s ease-in-out;
      }
      .sec4 .card3 {
        border: 1px solid #e6e5e5;
        background: #ffffff;
        width: 100%;
        border-radius: 6px;
        position: relative;
        cursor: pointer;
        transition: all 0.5 ease;
        overflow: hidden;
        padding: 20px 20px;
      }
      .sec4 .card3 .im {
        position: absolute;
        top: -166px;
        right: -166px;
        transition: all 0.6s ease-in-out;
      }
      .sec4 .box {
        color: white;
        text-align: left;
      }
      .sec4 .box img {
        width: 75%;
      }
      .sec4 .box .a{
        width: 60%;
      }
      .sec4 .box p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #22343d;
        padding-bottom: 15px;
      }
      .sec4 .box h3 {
        color: black;
        font-weight: 500;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 15px;
      }
      .sec4 .card2::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #ffa667;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 6px;
        transition: 0.9s ease;
      }
      .sec4 .card2:hover {
        background-color: transparent;
      }
      .sec4 .card2:hover::before {
        width: 100%;
      }
      .sec4 .card2:hover h3 {
        color: white;
      }
      .sec4 .card2:hover p {
        color: white;
      }
      .sec4 .card2:hover .im {
        top: 3;
        right: 0;
      }
      .sec4 .card3::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #c1fdb1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 6px;
        transition: 0.9s ease;
      }
      .sec4 .card3:hover {
        background-color: transparent;
      }
      .sec4 .card3:hover::before {
        width: 100%;
      }
 
      .sec4 .flexx {
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            height: 200px;
        }
      }
}
.sec5{
    .ap-tab{
        margin-top: 40px;
    }
    .fle{
        display: grid;
        grid-template-columns: 180px 180px 180px 180px;
        .button {
            &.dark {
                --background: #2F3545;
                --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
            }
            
        }
        .button {
            width: 130px;
            --background: white;
            --text: #70C05B;
            --font-size: 18.5px;
            --duration: .44s;
            --move-hover: -4px;
            --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
            --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
            --font-shadow: var(--font-size);
            padding: 10px 12px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: var(--font-size);
            border-radius: 7px;
            text-align: left;
            display: block;
            margin-right: 15px;
            align-items: center;
            outline: none;
            text-decoration: none;
            font-size: var(--font-size);
            letter-spacing: .5px;
            background: var(--background);
            color: var(--text);
            box-shadow: var(--shadow);
            transform: translateY(var(--y)) translateZ(0);
            transition: transform var(--duration) ease, box-shadow var(--duration) ease;
            div {
                display: flex;
                text-align: center;
                justify-content: left;
                overflow: hidden;
                text-shadow: 0 var(--font-shadow) 0 var(--text);
                span {
                    display: block;
                    backface-visibility: hidden;
                    font-style: normal;
                    transition: transform var(--duration) ease;
                    transform: translateY(var(--m)) translateZ(0);
                    $i: 1;
                    @while $i < 12 {
                        &:nth-child(#{$i}) {
                            transition-delay: $i / 20 + s;
                        }
                        $i: $i + 1;
                    }
                }
            }
            &:hover {
                --y: var(--move-hover);
                background: #70C05B;
                color: white;
                transform: .6s;
                --shadow: var(--shadow-hover);
                --text: white;
                span {
                    color: white;
                    --m: calc(var(--font-size) * -1);
                }
            }
        }  
    }
    iframe{
        width: 100%;
    }
}

.sec6{
    margin-top: 90px;
    .f_aksi{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s_f{
        padding: 40px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        overflow: hidden;
        .box{
            overflow: hidden;
            background-color: white;
            width: 96%;
            border-radius: 9px;
            transition: .6s;
            .ras{
                position: relative;
                .s{
                    width: 100%;
                    height: 150px;
                }
                .po{
                    padding: 0px 10px;
                    top: 20px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                }
                .tx{
                    display: none;
                    position: absolute;
                    top: 120px;
                    left: 10px;
                    width: 56px;
                    padding: 10px 0;
                    color: white;
                    background: #FF6633;
                    border-radius: 4px;
                    text-align: center;
                }
            }
            .pastki{
                padding: 10px 10px;
                .fle{
                    display: flex;
                    justify-content: space-between;
                }
                .button {
                    &.dark {
                        --background: #2F3545;
                        --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                        --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
                    }
                    
                }
                
                .button {
                    --background: white;
                    --text: #70C05B;
                    --font-size: 18.5px;
                    --duration: .44s;
                    --move-hover: -4px;
                    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
                    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
                    --font-shadow: var(--font-size);
                    padding: 10px 12px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    background: #E5FFDE;
                    width: 125px;
                    line-height: var(--font-size);
                    border-radius: 7px;
                    text-align: center;
                    display: block;
                    align-items: center;
                    outline: none;
                    text-decoration: none;
                    font-size: var(--font-size);
                    letter-spacing: .5px;
                    color: var(--text);
                    box-shadow: var(--shadow);
                    transform: translateY(var(--y)) translateZ(0);
                    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
                    div {
                        display: flex;
                        text-align: center;
                        overflow: hidden;
                        text-shadow: 0 var(--font-shadow) 0 var(--text);
                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            transition: transform var(--duration) ease;
                            transform: translateY(var(--m)) translateZ(0);
                            $i: 1;
                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    transition-delay: $i / 20 + s;
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                    &:hover {
                        --y: var(--move-hover);
                        background: #70C05B;
                        color: white;
                        transform: .6s;
                        --shadow: var(--shadow-hover);
                        --text: white;
                        span {
                            color: white;
                            --m: calc(var(--font-size) * -1);
                        }
                    }
                }
                
            }
        }
        .box:hover{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
            transform: translate(0px, -10px);
        }
        .box:hover .s{
            transform: scale(1.1);
            transition: 2s;
        }

    }
}

.sec7{
    margin-top: 50px;
    background-image: url(../images/bg.png);
    width: 100%;
    background-size: cover;
    .f{
        display: flex;
        justify-content: space-between;
        .fle{
            padding: 40px 0px;
            display: flex;
            align-items: center;
            gap: 15px;
            .b{
                display: flex;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .fle2{
            display: flex;
            align-items: center;
            gap: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
}

nav{
    .fll{
        display: none;
    }
}

@media (max-width: 1190px) {
    .macl, .bosh{
        padding: 0px 15px;
    }
    .sec{
        padding: 0 15px;
    }
    .sec1{
        padding: 0 15px;
    }
    .sec2{
        padding: 0px 15px;
    }
    .about1{
        padding: 0px 14px;
    }
    header{
        padding: 13px 14px;
    }
    .sec2{
        .f_aksi{
            padding: 0px 14px;
        }
        .s_f{
            padding: 40px 14px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            .oxr-no{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 14px;
    }
    .sec6{
        padding: 0px 14px;
    }
    .sec7{
        padding: 0px 14px;
    }
}
@media (max-width: 990px) {
    .sec44{
          .sec4 .card2 .img {
            width: 50%;
          }
    }
  
    .sec7{
    .f{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fle{
            padding: 40px 0px;
            gap: 15px;
            .b{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .fle2{
            display: flex;
            align-items: center;
            gap: 15px;
            .a{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
    }
}
@media (max-width: 920px) {
    .sec2{
        .f_aksi{
            display: flex;
            justify-content: space-between;
        }
        .s_f{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            align-items: center;
            .box{
                width: 100%;
            }
        }
    }
}
@media (max-width: 890px) {        
    header{
    .fl{
        gap: 20px;
        .ko{
            .bt{
                display: none;
            }
            .bt2{
                display: block;
                display: flex;
                align-items: center;
                gap: 20px;
                color: white;
                padding: 8px 15px;
                background: #70C05B;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
    }
    .sec2{
        .f_aksi{
            display: flex;
            justify-content: space-between;
        }
        .s_f{
            padding: 40px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            .oxr-no2{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
@media (max-width: 700px) {
    .sec5{
        .fle{
            display: grid;
            grid-template-columns: 180px 180px;
            gap: 20px;
        }
    }
    header{
        .fl{
            gap: 20px;
            .logo{
                display: none;
            }
            .logo2{
                display: block;
            }
        }
        }
    .b{
    .a-o{
        display: none;
    }
}
}
@media (max-width: 655px){
    header{
     .fl{
        gap: 7px;
        .ko{
            .bt2{
                display: none;
            }
            .sub-menu{
                .grid{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                }
            }
        } 
        .box{
            display: flex;
            align-items: center;
            border: 1.4px solid #70C05B;
            border-radius: 5px;
            width: 100%;
            padding: 5px 5px;
            input{
                // position: absolute;
                outline: none;
                padding: 5px 5px;
                border: none;
                width: 100%;
                font-size: 15px;
            }
        }
        .icon{
            a{
                display: none;
                text-decoration: none;
                color: black;
            }
        }
        .men2{
            .a{
                display: none;
                cursor: pointer;
            }
        }
    
     }
     
    }
}
@media (max-width: 600px) {
    .sec7{
        .rght{
            display: none;
        }
        .f{
            flex-direction: column;
            text-align: center;
            .fle{
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                gap: 1px;
                .b{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            .fle2{
                gap: 1px
            }
        }
        
    }
}
@media (max-width: 597px) {
    nav{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #FFFFFF;
        padding: 13px 0px;
        z-index: 999;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        .fll{
            display: flex;
            align-items: center;
            width: 100%;
            margin: auto;
            padding: 10px 14px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 10px 14px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    p{
                        font-size: 14px;
                    }
                }
                .a{
                    width: 21px;
                }
                .a2{
                    width: 21px;
                }
                img{
                    transition: .3s ease-out;
                }
                a:hover img{
                    transform: translateY(-5px);
                }
            }
    
        }
    }
    .sec2{
        .f_aksi{
            padding: 0px 0px;
        }
        .s_f{
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            display: flex;
            align-items: center;
            .box{
                width: 50%;
            }
        }
    }
    .sec44{
        .sec4 .card2 .img {
          width: 70%;
        }
        .box {
            .flexx{
                display: flex;
                flex-direction:  column;
                text-align: center;
            }
        }
    }
    .sec5{
        padding: 0px 10px;
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            padding: 0px 80px;
            display: flex;
            justify-content: space-between;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 70%;
            margin: auto;
        }
    }
    .sec7{
        margin-top: 50px;
        background-image: url(../images/bg.png);
        width: 100%;
        background-size: cover;
        .f{
            display: flex;
            justify-content: space-between;
            .fle{
                padding: 40px 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            .fle2{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        
    }
    
}
@media (max-width:555px) {
    .sec2{
        .f_aksi{
            padding: 0px 60px;
            display: flex;
            justify-content: space-between;
        }
        .a1{
            font-size: 20px !important;
        }
        .s_f{
            display: flex;
            flex-direction: column;
            .box{
                width: 80%;
            }
        }
    }
}
@media (max-width:510px) {
    .sec44{
        .tx h1{
          padding: 0px 10px;
          font-size: 23px !important;
          line-height: 30px !important;
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            padding: 0px 25px;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 90%;
            margin: auto;
        }
    }
}
@media (max-width: 426px) {
    nav{
        .fll{
            width: 100%;
            margin: auto;
            padding: 10px 5px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 10px 5px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    p{
                        font-size: 11px;
                    }
                }
                .a{
                    width: 24px;
                }
                .a2{
                    width: 21px;
                }
                img{
                    transition: .3s ease-out;
                }
                a:hover img{
                    transform: translateY(-5px);
                }
            }
    
        }
    }
    .sec2{
        .f_aksi{
            padding: 0px 10px;
            h1{
                font-size: 25px !important;
            }
            .a1{
                font-size: 16px !important;
            }
        }
        .s_f{
            display: flex;
            flex-direction: column;

            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 10px;
        .fle{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            padding: 0px 6px;
        }
        .s_f{
            // padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 100%;
            margin: auto;
        }
        .box{
            width: 100%;
            margin: auto;
        }
    }
}
@media (max-width:350px) {
    .sec5{
        .fle{
            display: grid;
            grid-template-columns: 180px;
            gap: 20px;
        }
    }
}