.bosh {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
.bosh img {
  width: 7px;
}
.bosh .glav {
  text-decoration: none;
  color: black;
}
.bosh a {
  text-decoration: none;
  color: gray;
}

.macl .yo {
  display: flex;
  gap: 40px;
}
.macl .yo .y {
  display: flex;
  gap: 5px;
  align-items: center;
}
.macl .ff {
  display: flex;
  gap: 15px;
}
.macl .ff .left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.macl .ff .yy {
  width: 100%;
}
.macl .ff .yy .y {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.macl .ff .yy .y .pul1 {
  color: #606060;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.macl .ff .yy .y .pul2 {
  color: #414141;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
}
.macl .ff .yy .yoe .cente {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.macl .ff .yy button {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #FF6633;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}
.macl .ff .yy .yonga {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  background: #F3F2F1;
}
.macl .ff .yy .yonga2 {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  background: white;
}

@media (max-width: 980px) {
  .macl .yo {
    display: flex;
    gap: 40px;
  }
  .macl .yo .y {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .macl .ff {
    display: flex;
    gap: 15px;
  }
  .macl .ff .left {
    display: none;
    flex-direction: column;
    gap: 6px;
  }
  .macl .ff .yy {
    width: 100%;
  }
  .macl .ff .yy .y {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .macl .ff .yy .y .pul1 {
    color: #606060;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }
  .macl .ff .yy .y .pul2 {
    color: #414141;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
  .macl .ff .yy .yoe .cente {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .macl .ff .yy button {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #FF6633;
    border-radius: 4px;
    border: none;
    color: white;
  }
  .macl .ff .yy .yonga {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    background: #F3F2F1;
  }
  .macl .ff .yy .yonga2 {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    background: white;
  }
}
@media (max-width: 920px) {
  .bosh {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
  }
  .bosh img {
    width: 7px;
  }
  .bosh .glav {
    text-decoration: none;
    color: black;
  }
  .bosh a {
    text-decoration: none;
    color: gray;
  }
  .macl .yo {
    display: flex;
    gap: 40px;
  }
  .macl .yo .y {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .macl .ff {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  .macl .ff .left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    display: none;
  }
  .macl .ff .left {
    display: none;
  }
  .macl .ff .a {
    width: 100%;
  }
  .macl .ff .yy {
    width: 100%;
  }
  .macl .ff .yy .y {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .macl .ff .yy .y .pul1 {
    color: #606060;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }
  .macl .ff .yy .y .pul2 {
    color: #414141;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
  .macl .ff .yy .yoe .cente {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .macl .ff .yy button {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    background: #FF6633;
    border-radius: 4px;
    border: none;
    color: white;
  }
  .macl .ff .yy .yonga {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    background: #F3F2F1;
  }
  .macl .ff .yy .yonga2 {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    background: white;
  }
}
@media (max-width: 900px) {
  .bosh {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
  }
  .bosh .ab {
    display: none;
  }
  .bosh img {
    width: 7px;
  }
  .bosh .glav {
    text-decoration: none;
    color: black;
  }
  .bosh a {
    text-decoration: none;
    color: gray;
  }
}
@media (max-width: 650px) {
  .macl .yo {
    display: flex;
    gap: 40px;
  }
  .macl .yo .y {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .macl .yo .no1 {
    display: none;
  }
  .macl .yo .no2 {
    display: none;
  }
}/*# sourceMappingURL=tovar.css.map */