.sec1{
    .bosh{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        img{
            width: 7px;
        }
        .glav{
            text-decoration: none;
            color: black;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    }
}
.sec2{
    margin-bottom: 5px;
    .f_aksi{
        font-family: 'Rubik';
        font-style: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s_f{
        padding: 25px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        .box{
            background-color: white;
            width: 96%;
            border-radius: 9px;
            transition: .5s;
            .ras{
                position: relative;
                .s{
                    width: 100%;
                }
                .po{
                    padding: 0px 10px;
                    top: 20px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                }
                .tx{
                    display: none;
                    position: absolute;
                    top: 120px;
                    left: 10px;
                    width: 56px;
                    padding: 10px 0;
                    color: white;
                    background: #FF6633;
                    border-radius: 4px;
                    text-align: center;
                }
            }
            .pastki{
                padding: 15px 25px;
                .fle{
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
                .button {
                    &.dark {
                        --background: #2F3545;
                        --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
                        --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
                    }
                    
                }
                
                .button {
                    --background: white;
                    --text: #70C05B;
                    --font-size: 18.5px;
                    --duration: .44s;
                    --move-hover: -4px;
                    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
                    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
                    --font-shadow: var(--font-size);
                    padding: 10px 12px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    line-height: var(--font-size);
                    border-radius: 7px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    align-items: center;
                    outline: none;
                    text-decoration: none;
                    font-size: var(--font-size);
                    letter-spacing: .5px;
                    background: var(--background);
                    color: var(--text);
                    box-shadow: var(--shadow);
                    transform: translateY(var(--y)) translateZ(0);
                    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
                    border: 1px solid #70C05B;
                    div {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        overflow: hidden;
                        text-shadow: 0 var(--font-shadow) 0 var(--text);
                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            transition: transform var(--duration) ease;
                            transform: translateY(var(--m)) translateZ(0);
                            $i: 1;
                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    transition-delay: $i / 20 + s;
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                    &:hover {
                        --y: var(--move-hover);
                        background: #FF6633;
                        color: white;
                        transform: .6s;
                        --shadow: var(--shadow-hover);
                        --text: white;
                        border: 1px solid #FF6633;
                        span {
                            color: white;
                            --m: calc(var(--font-size) * -1);
                        }
                    }
                }
                
            }
        }
        .box:hover{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
            transform: translate(0px, -8px);
        }
    }
}

@media (max-width: 890px) {        
    .sec2{
        .f_aksi{
            padding: 0px 10px;
        }
        .s_f{
            padding: 40px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            .oxr-no2{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .f_aksi{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
@media (max-width: 597px) {
    nav{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #FFFFFF;
        padding: 13px 0px;
        z-index: 999;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        .fll{
            display: flex;
            align-items: center;
            width: 100%;
            margin: auto;
            padding: 10px 14px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 10px 14px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    p{
                        font-size: 14px;
                    }
                }
                .a{
                    width: 21px;
                }
                .a2{
                    width: 21px;
                }
                img{
                    transition: .3s ease-out;
                }
                a:hover img{
                    transform: translateY(-5px);
                }
            }
    
        }
    }
    .sec2{
        .f_aksi{
            padding: 0px 10px;
        }
        .s_f{
            padding: 40px 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .box{
                width: 100%;
            }
        }
    }
    .sec44{
        .sec4 .card2 .img {
          width: 70%;
        }
        .box {
            .flexx{
                display: flex;
                flex-direction:  column;
                text-align: center;
            }
        }
    }
    .sec5{
        padding: 0px 10px;
    }
    .sec6{
        padding: 0px 15px;
        margin-top: 90px;
        .s_f{
            padding: 40px 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 70%;
            margin: auto;
        }
    }
    .sec7{
        margin-top: 50px;
        background-image: url(../images/bg.png);
        width: 100%;
        background-size: cover;
        .f{
            display: flex;
            justify-content: space-between;
            .fle{
                padding: 40px 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            .fle2{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        
    }
}