.sec1 .bosh {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
.sec1 .bosh img {
  width: 7px;
}
.sec1 .bosh .glav {
  text-decoration: none;
  color: black;
}
.sec1 .bosh a {
  text-decoration: none;
  color: gray;
}

.sec2 {
  margin-bottom: 5px;
}
.sec2 .f_aksi {
  font-family: "Rubik";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .s_f {
  padding: 25px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.sec2 .s_f .box {
  background-color: white;
  width: 96%;
  border-radius: 9px;
  transition: 0.5s;
}
.sec2 .s_f .box .ras {
  position: relative;
}
.sec2 .s_f .box .ras .s {
  width: 100%;
}
.sec2 .s_f .box .ras .po {
  padding: 0px 10px;
  top: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.sec2 .s_f .box .ras .tx {
  display: none;
  position: absolute;
  top: 120px;
  left: 10px;
  width: 56px;
  padding: 10px 0;
  color: white;
  background: #FF6633;
  border-radius: 4px;
  text-align: center;
}
.sec2 .s_f .box .pastki {
  padding: 15px 25px;
}
.sec2 .s_f .box .pastki .fle {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.sec2 .s_f .box .pastki .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec2 .s_f .box .pastki .button {
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 7px;
  width: 100%;
  text-align: center;
  display: block;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  border: 1px solid #70C05B;
}
.sec2 .s_f .box .pastki .button div {
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec2 .s_f .box .pastki .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec2 .s_f .box .pastki .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec2 .s_f .box .pastki .button:hover {
  --y: var(--move-hover);
  background: #FF6633;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
  border: 1px solid #FF6633;
}
.sec2 .s_f .box .pastki .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec2 .s_f .box:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

@media (max-width: 890px) {
  .sec2 .f_aksi {
    padding: 0px 10px;
  }
  .sec2 .s_f {
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .sec2 .s_f .oxr-no2 {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 597px) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    padding: 13px 0px;
    z-index: 999;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  nav .fll {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px 14px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 14px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 14px;
  }
  nav .fll .icon .a {
    width: 21px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
  .sec2 .f_aksi {
    padding: 0px 10px;
  }
  .sec2 .s_f {
    padding: 40px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec44 .sec4 .card2 .img {
    width: 70%;
  }
  .sec44 .box .flexx {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sec5 {
    padding: 0px 10px;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 70%;
    margin: auto;
  }
  .sec7 {
    margin-top: 50px;
    background-image: url(../images/bg.png);
    width: 100%;
    background-size: cover;
  }
  .sec7 .f {
    display: flex;
    justify-content: space-between;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}/*# sourceMappingURL=vakansi.css.map */